<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hotel Reservaation</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Local CSS Link -->
    <link rel="stylesheet" href="/css/landing.css">

</head>
<body>
    <header class="header">
        <div class="logo-box">
            <img src="../images/logo-white.png" alt="logo" class="logo">
        </div>

        <div class="text-box">
            <h1 class="heading-primary">
                <spam class="heading-primary-main">Hotel Nepal</spam>
                <spam class="heading-primary-sub">Moving to Better Service</spam>
            </h1>

            <a href="" class="btn btn-white">Discover our rooms</a>
        </div>
    </header>

    <!-- <img src="/images/hotel1.jpg" alt=""> -->
    <!-- <a href="demo"></a><h1>a</h1> -->
</body>
</html>