<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hotel Reservaation</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Local CSS Link -->
    <link rel="stylesheet" href="/css/icon-font.css">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <header class="header">
        <div class="header__logo-box">
            <img src="../images/logo-white.png" alt="logo" class="header__logo">
        </div>

        <div class="header__text-box">
            <h1 class="heading-primary">
                <spam class="heading-primary--main">Hotel Nepal</spam>
                <spam class="heading-primary--sub">Moving to Better Service</spam>
            </h1>

            <a href="" class="btn btn--white btn--animated">Discover our rooms</a>
        </div>
    </header>

    <main>
        <section class="section-about">
            <div class="u-center-text u-margin-bottom-big">
               <h2 class="heading-secondary">
                    Exciting tours for adventurous people
                </h2> 
            </div>
            <div class="row">
                <div class="col-1-of-2">
                    <h3 class="heading-tertery u-margin-bottom-small">You ar going to fall in love with nature</h3>
                    <p class="paragraph">
                        Gibberish, also called jibber-jabber or gobbledygook, is speech that is (or appears to be) nonsense. It may include speech sounds that are not actual words, or language games and specialized jargon that seems nonsensical to outsiders.
                    </p>
                    <h3 class="heading-tertery u-margin-bottom-small">Live adventure like you hav never lived before</h3>
                    <p class="paragraph">
                        Gibberish, also called jibber-jabber or gobbledygook, is speech that is (or appears to be) nonsense. It may include speech sounds that are not actual words, or language games and specialized jargon that seems nonsensical to outsiders.
                    </p>
                    <a href="#" class="btn-text">Learn more &rarr;</a>
                </div>
                <div class="col-1-of-2">
                    <div class="composition">
                        <img src="/images/nat-1-large.jpg" alt="Photo 1" class="composition__photo composition__photo--p1">
                        <img src="/images/nat-2-large.jpg" alt="Photo 2" class="composition__photo composition__photo--p2">
                        <img src="/images/nat-3-large.jpg" alt="Photo 3" class="composition__photo composition__photo--p3">
                    </div>
                </div>
            </div>
        </section>

        <section class="section-features">
            

            <div class="row">
                <div class="col-1-of-4">
                    <div class="feature-box">
                        <i class="feature-box__icon icon-basic-world"></i>
                        <h3 class="heading-tertery u-margin-bottom-small">Explore the world</h3>
                        <p class="feature-box__text">
                            Gibberish, also called jibber-jabber or gobbledygook, is speech that is (or appears to be) nonsense. It may include speech sounds that are not actual words.
                        </p>
                    </div>
                </div>

                <div class="col-1-of-4">
                    <div class="feature-box">
                        <i class="feature-box__icon icon-basic-compass"></i>
                        <h3 class="heading-tertery u-margin-bottom-small">Meet nature</h3>
                        <p class="feature-box__text">
                            Gibberish, also called jibber-jabber or gobbledygook, is speech that is (or appears to be) nonsense. It may include speech sounds that are not actual words.
                        </p>
                    </div>
                </div>

                <div class="col-1-of-4">
                    <div class="feature-box">
                        <i class="feature-box__icon icon-basic-map"></i>
                        <h3 class="heading-tertery u-margin-bottom-small">Find your way</h3>
                        <p class="feature-box__text">
                            Gibberish, also called jibber-jabber or gobbledygook, is speech that is (or appears to be) nonsense. It may include speech sounds that are not actual words.
                        </p>
                    </div>
                </div>

                <div class="col-1-of-4">
                    <div class="feature-box">
                        <i class="feature-box__icon icon-basic-heart"></i>
                        <h3 class="heading-tertery u-margin-bottom-small">Live a healthier life</h3>
                        <p class="feature-box__text">
                            Gibberish, also called jibber-jabber or gobbledygook, is speech that is (or appears to be) nonsense. It may include speech sounds that are not actual words.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- <img src="/images/hotel1.jpg" alt=""> -->
    <!-- <a href="demo"></a><h1>a</h1> -->
</body>
</html>